{% extends 'customer/base.html' %}

{% block content %}
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12 p-0">
            <!-- <img src="../../../media/menu_images/res1.jpg" class="img-fluid" alt="Banner Image"> -->
            <img src="../../../media/menu_images/res5.jpg" class="img-fluid" style="width: 100%; height: auto;" alt="Banner Image">
        </div>
    </div>
</div>
 
    <!-- <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div> -->
     
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <div class="container-fluid p-0">
                <div class="row">
                    <div class="col-12 p-0">
                        <!-- <img src="../../../media/menu_images/res1.jpg" class="img-fluid" alt="Banner Image"> -->
                        <!-- <img src="../../../media/menu_images/res5.jpg" class="img-fluid" style="width: 100%; height: auto;" alt="Banner Image"> -->
                    </div>
                </div>
            </div>
             
             


            <p>Welcome to DineEasy, where your culinary cravings meet convenience! Our mission is to revolutionize the dining experience by offering a seamless and user-friendly online ordering platform. Whether you're at home, in the office, or on the go, DineEasy ensures that your favorite meals are just a click away.
</p>
<h2>Our Story</h2>
                <p>DineEasy was born out of a passion for food and technology. We understand the importance of enjoying a delicious meal without the hassle of long waits, confusing menus, or complicated ordering processes. With this in mind, we created DineEasy to bring simplicity and satisfaction to your dining experience.</p>
                
               <h2> What We Offer</h2>
                <p>
                Extensive Menu Selection: From local favorites to exotic cuisines, explore a wide variety of dishes from the best restaurants in town.
                Easy Ordering Process: Our intuitive interface makes it easy to find, customize, and order your meals in just a few steps.
                Fast and Reliable Delivery: Enjoy hot and fresh meals delivered straight to your door, quickly and reliably.
                Secure Payments: With multiple payment options, including cash on delivery, credit cards, and online wallets, we ensure a secure and hassle-free transaction every time.
                Customer Support: Our dedicated customer support team is always here to assist you with any queries or concerns, ensuring a smooth and enjoyable experience.</p>
                
                <h2> Our Commitment</h2><p>
               
                At DineEasy, we are committed to providing top-notch service and a delightful dining experience. We continuously strive to improve our platform, offering innovative features and maintaining high standards of quality and reliability.</p>
                <p>
                Join us on this delicious journey and make your dining experience easy, enjoyable, and unforgettable with DineEasy.</p>
                
                <h4>Bon appétit!</h4>
       
        </div>
    </div>
</div>

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12 p-0">
            <!-- <img src="../../../media/menu_images/res1.jpg" class="img-fluid" alt="Banner Image"> -->
            <img src="../../../media/menu_images/res13.jpg" class="img-fluid" style="width: 100%; height: auto;" alt="Banner Image">
        </div>
    </div>
</div>
{% endblock content %}