{% extends 'customer/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12 p-0">
            <!-- <img src="../../../media/menu_images/res1.jpg" class="img-fluid" alt="Banner Image"> -->
            <img src="../../../media/menu_images/res4.jpg" class="img-fluid" style="width: 100%; height: auto;" alt="Banner Image">
        </div>
    </div>
</div>



<div class="container mb-5">
    <div class="row justify-content-center mt-3">
        <div class="col-md-8 col-sm-12 p-4 text-center">
            <h1>DineEasy: Your Meal, Just a Click Away</h1>
            <p>Order your favorite meals online and enjoy quick, reliable delivery!</p>
            <div class="row justify-content-center mt-3">
                <div class="col-md-8 col-sm-12 text-center">
                    <!-- <a href="{% url 'order' %}" class="btn btn-primary black">Order Now!</a> -->
                    <a href="{% url 'order' %}" class="btn" style="background-color: black; color: white; border: none;">Order Now!</a>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12 p-0">
                <!-- <img src="../../../media/menu_images/res1.jpg" class="img-fluid" alt="Banner Image"> -->
                <img src="../../../media/menu_images/res5.jpg" class="img-fluid" style="width: 100%; height: auto;" alt="Banner Image">
            </div>
        </div>
    </div>
    <br><br>
    <div class="row justify-content-center mt-3">
        <div class="col-md-8 col-sm-12 text-center">
            <h1><b>About DineEasy</b></h1>
            <h5>Welcome to DineEasy, where your culinary cravings meet convenience! Our mission is to revolutionize the dining experience by offering a seamless and user-friendly online ordering platform. Whether you're at home, in the office, or on the go, DineEasy ensures that your favorite meals are just a click away.</h5>
        </div>
    </div>
    <br><br>

    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12 p-0">
                <!-- <img src="../../../media/menu_images/res1.jpg" class="img-fluid" alt="Banner Image"> -->
                <img src="../../../media/menu_images/res6.jpg" class="img-fluid" style="width: 100%; height: auto;" alt="Banner Image">
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center mt-3">
    <div class="col-md-8 col-sm-12 text-center">
        <h1><b>Our Team</b></h1>
        <h5>At DineEasy, our team is the heart and soul of our operations. We are a group of dedicated professionals with a shared passion for food and technology. Our mission is to bring you the best online dining experience possible, combining convenience, quality, and innovation.</h5>
    </div>
</div>
<br><br>

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12 p-0">
            <!-- <img src="../../../media/menu_images/res1.jpg" class="img-fluid" alt="Banner Image"> -->
            <img src="../../../media/menu_images/res7.jpg" class="img-fluid" style="width: 100%; height: auto;" alt="Banner Image">
        </div>
    </div>
</div>


<div class="row justify-content-center mt-3">
    <div class="col-md-8 col-sm-12 text-center">
        <h1><b>Our Values</b></h1>
        <h5>At DineEasy, our values guide everything we do. They are the foundation of our mission to revolutionize the dining experience through technology and exceptional service. Here are the core values that drive us</h5>
    </div>
</div>
<br><br>
<br><br> 

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12 p-0">
            <!-- <img src="../../../media/menu_images/res1.jpg" class="img-fluid" alt="Banner Image"> -->
            <img src="../../../media/menu_images/res13.jpg" class="img-fluid" style="width: 100%; height: auto;" alt="Banner Image">
        </div>
    </div>
</div>

{% endblock content %}
